# LLM API Keys
ANTHROPIC_API_KEY=your_claude_api_key_here
# (Optional) For fallback
OPENAI_API_KEY=your_openai_api_key_here


# Enables fallback to other LLM models if primary provider is down (Anthropic->OpenAI)
# If enabled, make sure OPENAI_API_KEY is set in .env and openai library is installed in requirements.txt
ENABLE_LLM_FALLBACK=true


# Enables using other fallback scraping mecanisms for Mercari (Priority: web-> mercarpi-> playwright)
ENABLE_MERCARI_FALLBACK=false
# Enables use of MercariPY library - https://github.com/take-kun/mercapi
# Make sure the library is installed
# Mercarpi is preferred over Playwright due to Playwright being more resource heavy and timetaking to execute
ENABLE_MERCARI_FALLBACK_MERCARPI=true
# Playwright is last fallback due to being more resource heavy
ENABLE_MERCARI_FALLBACK_PLAYWRIGHT=true

## If enabled, Agent asks the user followup question for any missing parameters (primarily cost/budget) in their initial prompt. 
## Improves the overall search and filtering compared to broad search
## Example: If user only asked "Find me a macbook", Agent will do a single followup question "Do you have any budget in mind and any specific condition (new/used)"
ENABLE_FOLLOWUP_QUESTIONS=true

# Operational Thresholds
## Max characters to truncate product description
MAX_DESCRIPTION_LENGTH=1500
MAX_TOOL_CALL_LOOPS=5
REQUEST_TIMEOUT_SECONDS=10.0
MAX_ITEMS_PER_SEARCH=10